<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>VueJs accordion component</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
    	body {
    		padding: 20px 0;
    	}

    	.advice {
    		text-align: center;
    		margin: 25px 0;
    	}

    	.advice > span {
    		font-style: italic; 
    	}
    </style>
</head>
<body>
	<div id="app" class="container">
		<vue-accordion :items="items" :styles="styles"></vue-accordion>
		<hr />
		<p class="advice">The styles below are used as the <span>styles</span> prop. Play around to see how they work. <a href="simple.html">Go to the simple version.</a></p>
		<div class="row options">
			<div class="col-md-3">
				<h3>Menu</h3>
				<div class="form-group">
				    <label for="div-height">Height:</label>
					<input id="div-height" class="form-control" v-model="div.height" type="range" min="100" max="350" value="200">
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox" v-model="div.center" checked> Center
					</label>
			    </div>
			</div>
			<div class="col-md-3">
				<h3>Panels</h3>
				<div class="form-group">
				    <label for="panel-border">Border:</label>
					<input id="panel-border" class="form-control" v-model="panel.border" type="range" min="0" max="10" value="0">
				</div>
				<div class="form-group">
				    <label for="padding-padding">Padding:</label>
					<input id="padding-padding" class="form-control" v-model="panel.padding" type="range" min="0" max="30" value="0">
				</div>
			</div>
			<div class="col-md-3">
				<h3>Titles</h3>
				<div class="form-group">
				    <label for="titles-font">Font size:</label>
					<input id="titles-font" class="form-control" v-model="titles.font" type="range" min="10" max="30" value="15">
				</div>
				<div class="form-group">
				    <label for="titles-color">Text color:</label>
					<select id="titles-color" class="form-control" v-model="titles.color">
						<option value="white">White</option>
						<option value="red">Red</option>
						<option value="green">Green</option>
						<option value="blue">Blue</option>
						<option value="black">Black</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<h3>Texts</h3>
				<div class="form-group">
				    <label for="texts-font">Font size:</label>
					<input id="texts-font" class="form-control" v-model="texts.font" type="range" min="10" max="20" value="12">
				</div>
				<div class="form-group">
				    <label for="texts-margin">Margin top:</label>
					<input id="texts-margin" class="form-control" v-model="texts.margin" type="range" min="0" max="30" value="0">
				</div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-accordion"></script>
	<script src="js/app.js"></script>
</body>
</html>